{
  "env": {
    "test": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["."],
            "alias": {
              "@": ".",
              "~": "."
            }
          }
        ],
        "require-context-hook",
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
